[user]
	name = Rui Gu
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	editor = vim
	pager = less -+$LESS -R
[diff]
	tool = vimdiff
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	df = diff
[difftool]
	prompt = false
[pager]
	diff = "vim -c '%sm/\\e.\\{-}m//ge' -c 'set ft=diff' -c 'normal gg' -"
